@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 margin-right: 0;
 height: 100%;
 width: 100%;
 background-color: rgb(98, 193, 200);

}